################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
appsettings.Development.json
obj/
bin/
appsettings.json
appsettings.json
